<div class="document-container">
  @if (doc(); as document) {
    <div class="document-header">
        <h1>{{ document.title }}</h1>
        <p>{{ document.title }}</p>
    </div>
    <div class="document-content">
        <p>{{ document.content }}</p>
    </div>
    @if (document.kvps) {
      <div class="document-kvps">
          <h2>Key-Value Pairs</h2>
          <ul>
              @for (kvp of document.kvps; track kvp.key) {
                <li><strong>{{ kvp.key }}:</strong> {{ kvp.value }}</li>
              }
          </ul>
      </div>
    }
  }
</div>
